<!DOCTYPE html>
<html lang="ru" [% block htmltag %][[ htmltag|raw ]][% endblock %] >
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>[% block pagetitle %][[ pagetitle|default('Электронная библиотека «Манн, Иванов и Фербер»') ]][% endblock %]</title>

	<script type="text/javascript">
		var data = window.__pageDataSource = window.__pageDataSource || {};
		data.library = [[ library_data|json_encode()|raw ]];
		data.user = [[ user_data|json_encode()|raw ]];
		data.app = {version:[[ app_version|json_encode()|raw ]]};
	</script>

	[% block pagehead %][% endblock %]
</head>
<body>
[% block pageheader %][% endblock %]
[% block pagebody %][% endblock %]
[% block pagefooter %][% endblock %]

[% block endbodyscript %]
	[% if library_script is defined and library_script %]
		[[ library_script|raw ]]
	[% endif %]
[% endblock %]
</body>
</html>