
.c-auth-panel {
	.p-panel-tabs {
		text-align: center;
		margin-bottom: 18px;

		.p-panel-tab {
			display: inline-block;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
		.p-tab-button {
			display: inline-block;
			box-sizing: border-box;
			background: transparent;
			margin: 0;
			padding: 0;
			border: none;
			outline: none;

			text-transform: uppercase;
			font-family: $font-family-bold;
			font-size: $font-size-bold;
			color: $color-active;
			line-height: $line-height-bold;
			cursor: pointer;

			&:focus {
				outline: none;
			}
			&:hover {
				color: $color-hover;
			}
			&:active {
				outline: none;
			}
			&.ng-selected {
				color: $font-color-bold;
				cursor: default;
				&:active {
					top: 0;
				}
			}
		}
	}
	.p-panel-pane-title {
		text-align: center;
		text-transform: uppercase;
		font-family: $font-family-bold;
		font-size: $font-size-bold;
		color: $font-color-bold;
		line-height: $line-height-bold;
		margin-bottom: 18px;
	}
}