
.c-auth-activate {
	padding-bottom: 60px;
	min-height: 350px;
	box-sizing: border-box;


	.c-auth-form {
		.p-form-row {
			.p-control-box {
				.p-control.m-input-text:disabled {
					border-color: transparent !important;
				}
			}
		}
	}
}