
.c-auth-page {
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: (17px+20px+44px);
	position: relative;

	.p-page-header {
		text-align: center;
		padding: 32px 0 27px 0;

		.p-logo {
			img {
				height: 120px;
				display: inline-block;
				border: 0;
			}
		}
	}

	.p-page-footer {
		text-align: center;
		border-top: 1px solid $border-color;
		padding: 17px 0 20px 0;
		height: 44px;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}