
.c-auth-form {
	$images-path: "#{$components-images-path}c-auth-form/";
	$font-size-tip: $font-size-small;

	@include font-base();

	.p-form-row {

		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}


		.p-control-box {
			margin: 0 auto;
			width: 500px;
			position: relative;

			.p-control {
				&.m-input-text {
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;

					box-sizing: border-box;
					width: 100%;
					background: transparent;
					border: 1px solid $border-color;

					text-align: center;
					font-family: $font-family-bold;
					font-size: $font-size-bold;
					color: $font-color-bold;
					line-height: $line-height-bold;

					padding: (80px - $font-size-bold*$line-height-bold)/2;
					margin: 0;
					text-transform: uppercase;

					&::placeholder {
						color: #CCCCCC;
						opacity: 1;
						transition: opacity 0.3s ease;
					}
					&:focus::placeholder {
						opacity: 0;
					}
					&:focus {
						outline: none;
					}
				}

				&.m-submit-button {
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;

					box-sizing: border-box;
					width: 100%;
					background: transparent;
					border: none;

					text-align: center;
					font-family: $font-family-bold;
					font-size: $font-size-bold;
					color: $font-color-bold;
					line-height: 1.2;

					padding: 0;
					margin: 0;
					text-transform: uppercase;
					cursor: pointer;

					&:focus {
						outline: none;
					}
					&:hover {
						color: $color-hover;
					}
					&:disabled {
						color: #CCCCCC;
						cursor: default;
					}
					&:active {
						outline: none;
					}
				}
			}

			.p-control-tip.m-error {
				display: none;
			}
			&.m-error {
				.p-control {
					&.m-input-text {
						box-shadow: 0 0 0 3px $color-error;
					}
				}
				.p-control-tip.m-error {
					display: block;
				}
			}

			.p-control-tip {
				position: absolute;
				margin-top: 6px;
				right: 0;
				top: 100%;
				font-family: $font-family-base;
				font-size: $font-size-tip;
				line-height: 1;
				color: $font-color-base;

				&.m-error {
					color: $color-error;
				}
			}

			.p-control-state-box {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				margin-left: 16px;
				width: 130px;
				box-sizing: border-box;

				.p-control-state {
					&.m-text {
						display: block;
						font-family: $font-family-base;
						font-size: $font-size-small;
						color: #9B9B9B;
						line-height: $line-height-small;

						&.m-align-middle {
							display: table;
							height: 100%;
							> .p-middle-text {
								display: table-cell;
								vertical-align: middle;
							}
						}
					}
					&.m-loading {
						background: transparent url("#{$images-path}progress.svg") no-repeat center;
						height: 100%;
						width: 30px;
						background-size: 30px 31px;
						animation: c-auth-form-control-state-loading 2s linear infinite;
					}
					&.m-ok {
						background: transparent url("#{$images-path}ok.svg") no-repeat center;
						height: 100%;
						width: 34px;
						background-size: 34px 34px;
					}
				}
			}
		}

		.p-error-block {
			line-height: $line-height-base;
			color: $color-error;
			text-align: center;
			small {
				display: inline-block;
				@include font-small();
				@include child-a();
			}
		}
	}

	.p-complete-message {
		text-align: center;
	}
}

@keyframes c-auth-form-control-state-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}