
.c-expander {

	max-height: 246px;
	overflow: hidden;
	position: relative;

	.p-expander-shadow {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100px;
		background-image: linear-gradient(to bottom, rgba(#FFF, 0) 0%, #FFF 70%);
	}
	.p-expander-handler {
		display: none;

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		font-family: $font-family-bold;
		font-size: 16px;
		color: $color-active;
		line-height: 1.31;

		box-sizing: border-box;
		background: transparent;
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		text-transform: uppercase;
		cursor: pointer;

		&:active, &:focus {
			outline: none;
		}
		&:hover {
			color: $color-hover;
		}
	}

	&.ng-expandable {
		transition: max-height 300ms ease-out;

		.p-expander-shadow {
			display: block;
			opacity: 0;
			transition: opacity 300ms ease-out;
		}

		&.ng-collapsed {
			.p-expander-shadow {
				opacity: 1;
			}
			.p-expander-handler {
				&.m-expand {
					display: block;
				}
				&.m-collapse {
					display: none;
				}
			}
		}
		&.ng-expanded {
			max-height: 10000px;

			.p-expander-shadow {
				opacity: 0;
				display: none;
			}
			.p-expander-handler {
				&.m-expand {
					display: none;
				}
				&.m-collapse {
					display: block;
				}
			}
		}



	}

}