
.c-footer-logo {
	$images-path: "#{$components-images-path}c-footer-logo/";

	display: inline-block;
	width: 203px;
	height: 44px;
	background: transparent url("#{$images-path}logo.svg") no-repeat center;
	position: relative;
	.p-link {
		overflow: hidden;
		text-indent: -999px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}