
.c-horizontal-scroller {
	$images-path: "#{$components-images-path}c-horizontal-scroller/";

	overflow: hidden;

	.p-scroller-box {
		position: relative;
		width: auto;

		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-touch-callout: none;
		user-select: none;
		text-size-adjust: none;
	}

	.p-scroller-content {
		position: relative;

		> ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: table-row;
			border-collapse: collapse;

			> li {
				padding: 0;
				margin: 0;
				border-collapse: collapse;
				display: table-cell;
				vertical-align: top;
			}
		}
	}
	.p-drag-blocker {
		z-index: 9;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		&.ng-show {
			display: block;
		}
	}
	.p-scroller-right, .p-scroller-left {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 60px;
		z-index: 10;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: center;
		transition: opacity 100ms ease-out;
		opacity: 0;

		&.ng-initialized {
			display: block !important;
			opacity: 1;
		}
		&.ng-initialized.ng-hide {
			display: block !important;
			opacity: 0;
		}
	}
	.p-scroller-right {
		right: 0;
		background-image: url("#{$images-path}rarr.svg"),
			linear-gradient(to right, rgba(#FFF, 0) 0%, rgba(#FFF, 0.66) 29%, #FFF 98%);
		&:hover {
			background-image: url("#{$images-path}rarr-hover.svg"),
				linear-gradient(to right, rgba(#FFF, 0) 0%, rgba(#FFF, 0.66) 29%, #FFF 98%);
		}
	}
	.p-scroller-left {
		left: 0;
		background-image: url("#{$images-path}larr.svg"),
			linear-gradient(to left, rgba(#FFF, 0) 0%, rgba(#FFF, 0.66) 29%, #FFF 98%);
		&:hover {
			background-image: url("#{$images-path}larr-hover.svg"),
				linear-gradient(to left, rgba(#FFF, 0) 0%, rgba(#FFF, 0.66) 29%, #FFF 98%);
		}
	}


}