
@mixin rich-content {
	@include child-a();
	p {
		margin: 0 0 10px 0;
		padding: 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			margin: 10px 0;
			padding: 0 0 0 40px;
		}
	}
}