<div class="c-main-shelves">

	<div class="p-shelves-shelf" ng-repeat="shelf in model.shelves track by shelf.id">
		<div class="p-shelf-title" ng-bind="shelf.name"></div>
		<div class="p-shelf-line">
			<div class="p-shelf-line-scroller" c-horizontal-scroller="">
				<ul>
					<li ng-repeat="book in shelf.books track by book.id">
						<div c-main-book-tile="book"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>


</div>