<div class="c-main-page-greeting">

	<div class="p-greeting-from">
		<div class="p-photo" ng-if="greeting.photo">
			<img ng-src="{{greeting.photo}}" />
		</div>
		<div class="p-text" ng-show="greeting.from" ng-bind="greeting.from">
		</div>
	</div>

	<div class="p-greeting-text-box" c-expander="">
		<div class="p-greeting-text" ng-bind-html="greeting.text"></div>
	</div>

</div>