<div class="c-main-search-form" click-out="search.suggests.hide()">
	<div class="p-search-body">
		<form action="/book/search" ng-submit="search.submit($event)">
			<div class="p-search-query" ng-class="{'m-to-front': inInput || inSuggests || downSuggest}">
				<div class="p-search-input-box">
					<input type="text" placeholder="Поиск книг по названию или автору" name="query" class="p-search-input" ng-model="search.query" ng-keydown="search.keyDown($event)" autocomplete="off" ng-focus="inInput=true; search.focus();" ng-blur="inInput=false" ng-click="search.focus();" />
				</div>
				<div ng-cloak="" class="p-search-suggests" ng-show="search.suggests.isVisible" ng-mouseenter="inSuggests=true" ng-mouseleave="inSuggests=false" ng-mousedown="downSuggest=true" ng-mouseup="downSuggest=false">
					<div ng-repeat="item in search.suggests.items track by $id(item)" ng-click="item.$click()" ng-mouseenter="item.$enter()" ng-mouseleave="item.$leave()" ng-class="{'m-active': item.$active}" class="p-search-suggests-item">
						<div class="p-item-img-box">
							<img ng-src="{{item.cover.small}}" alt="" class="p-item-img"/>
						</div>
						<div class="p-item-info-box">
							<div class="p-item-title">
								<a ng-href="#/book/{{item.id}}" highlight-text="{{item.title}}" highlight-text-needle="{{search.lastQuery}}"></a>
							</div>
							<div class="p-item-authors">
								<div
										class="p-item-author" ng-repeat="author in item.authors track by author.name"
										highlight-text="{{author.name}}" highlight-text-needle="{{search.lastQuery}}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>