<div class="c-main-page">

	<div class="p-page-container">

		<div class="p-page-logo-box">
			<div class="p-page-logo" ng-style="{'background-image': 'url('+settigns.logo+')'}" ng-show="settigns.logo"></div>
			<div class="p-page-logo m-empty" ng-hide="settigns.logo"></div>
			<a href="" ui-sref="home">Главная</a>
		</div>

		<div class="p-page-menu">
			<div class="с-main-menu">
				<div class="p-menu">
					<div class="p-menu-item" ui-sref-active="active">
						<div class="p-menu-content">
							<a href="" ui-sref="books">Книги</a>
							<div class="p-text">Книги</div>
							<div class="p-triangle">
								<svg width="23px" height="122px" viewBox="0 0 23 122">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g stroke="#979797" fill-opacity="0.9" fill="#FFFFFF">
											<path d="M1,1 L21,61 L1,121"></path>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
					<div class="p-menu-item" ui-sref-active="active">
						<div class="p-menu-content">
							<div class="p-text">Полки книг</div>
							<a href="" ui-sref="shelves">Полки книг</a>
							<div class="p-triangle">
								<svg width="23px" height="122px" viewBox="0 0 23 122">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g stroke="#979797" fill-opacity="0.9" fill="#FFFFFF">
											<path d="M1,1 L21,61 L1,121"></path>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
					<div class="p-menu-item" ui-sref-active="active">
						<div class="p-menu-content">
							<div class="p-text">Что читают</div>
							<a href="" ui-sref="top">Что читают</a>
							<div class="p-triangle">
								<svg width="23px" height="122px" viewBox="0 0 23 122">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g stroke="#979797" fill-opacity="0.9" fill="#FFFFFF">
											<path d="M1,1 L21,61 L1,121"></path>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="p-page-under-menu-box"></div>


		<div class="p-page-content-box">
			<div class="p-page-search">
				<div c-main-search-form=""></div>
			</div>
			<div class="p-page-content">
				<div ui-view></div>
			</div>
		</div>



	</div>

	<div class="p-page-copyright" ui-state-is="home" ng-bind-html="settigns.copyright" ng-show="settigns.copyright"></div>

	<footer class="p-page-footer">
		<div class="c-footer-logo">
			<a href="/" class="p-link">Издательство «Манн, Иванов и Фербер»</a>
		</div>
	</footer>
</div>