<div class="c-main-top">
	<div class="p-main-books-filter" tabs="model.source.params.interval">
		<div class="p-filter-tab">
			<button class="p-tab-button" tab="month" ng-click="model.source.perform()">За месяц</button>
		</div>
		<div class="p-filter-tab">
			<button class="p-tab-button" tab="all" ng-click="model.source.perform()" tab-active="">За все время</button>
		</div>
	</div>
	<div class="p-main-books-list">
		<div ng-repeat="book in model.books track by book.id" class="p-main-books-item">
			<div c-main-book-tile="book" first-in-list="$first"></div>
		</div>
	</div>
</div>