<div class="c-main-book">

	<div class="p-book-title-box">
		<div class="p-book-title" ng-bind="model.book.title"></div>
	</div>

	<div class="p-book-tabs" tabs="">
		<div class="p-tab">
			<button class="p-tab-button" tab="">Электронная версия</button>
		</div>
		<div class="p-tab">
			<button class="p-tab-button" tab="">Аудиокнига</button>
		</div>
	</div>

	<div class="p-book-box">
		<div class="p-book">
			<div class="p-cover-box">
				<div class="p-cover-wrapper">
					<img ng-src="{{model.book.cover.large}}" />
				</div>
				<div class="p-badges" selector="model.book.badges" selector-type="list">
					<div class="p-badge m-green" selector-option="'new'" selector-option-disabled="true">
						Новинка
					</div>
					<div class="p-badge m-purple" selector-option="'bestseller'" selector-option-disabled="true">
						Бестселлер
					</div>
				</div>
				<div class="p-downloads-box" ng-if="model.book.downloads|defined">
					<div class="p-downloads-icon"></div>
					<div class="p-downloads-count" ng-bind="model.book.downloads"></div>
					<div
							class="p-downloads-text"
							ng-pluralize="" count="model.book.downloads"
							when="{one: 'скачивание', few: 'скачивания', many: 'скачиваний', other: 'скачивания'}"
							></div>
				</div>
			</div>
			<div class="p-sticker-column" c-main-book-stickers="">
				<div class="p-sticker-box" ng-repeat="sticker in model.book.stickers">
					<div class="p-sticker" ng-bind-html="sticker.text" c-main-book-sticker=""></div>
				</div>
			</div>
			<div class="p-ref-column">
				<div class="p-ref-box" ng-if="model.book.files.ebook.pdf">
					<div class="p-ref">
						<a ng-href="{{model.book.files.ebook.pdf.url}}">Скачать PDF</a>
					</div>
				</div>
				<div class="p-ref-box" ng-if="model.book.files.ebook.epub">
					<div class="p-ref">
						<a ng-href="{{model.book.files.ebook.epub.url}}">Скачать EPUB</a>
					</div>
				</div>
				<div class="p-ref-box" ng-if="model.book.files.ebook.mobi">
					<div class="p-ref">
						<a ng-href="{{model.book.files.ebook.mobi.url}}">Скачать MOBI</a>
					</div>
				</div>
				<div class="p-ref-box" ng-if="model.book.files.ebook.short">
					<div class="p-ref">
						<a ng-href="{{model.book.files.ebook.short.url}}">Скачать краткую версию</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="p-book-tabs" tabs="">
		<div class="p-tab">
			<button class="p-tab-button" tab="">Описание</button>
		</div>
		<div class="p-tab">
			<button class="p-tab-button" tab="">Отзывы сотрудников</button>
		</div>
	</div>


	<div class="p-book-subtitle-box">
		<div class="p-book-subtitle">О книге</div>
	</div>

	<div class="p-book-description-box" c-expander="">
		<div class="p-book-description" ng-bind-html="model.book.description"></div>
	</div>

	<div ng-if="model.book.authors | length">
		<div class="p-book-subtitle-box">
			<div class="p-book-subtitle">Авторы</div>
		</div>
		<div class="p-book-authors" c-horizontal-scroller="">
			<ul>
				<li ng-repeat="author in model.book.authors" c-main-book-author="author"></li>
			</ul>
		</div>
	</div>

	<div ng-if="model.book.quotes | length">
		<div class="p-book-subtitle-box">
			<div class="p-book-subtitle">Цитаты из книги</div>
		</div>
		<div class="p-book-quotes" c-horizontal-scroller="">
			<ul>
				<li ng-repeat="quote in model.book.quotes" c-main-book-quote="quote"></li>
			</ul>
		</div>
	</div>

	<div ng-if="model.book.experts | length">
		<div class="p-book-subtitle-box">
			<div class="p-book-subtitle">Эксперты рекомендуют</div>
		</div>
		<div class="p-book-experts" c-horizontal-scroller="">
			<ul class="p-book-experts-wrapper">
				<li class="p-book-expert" ng-repeat="expert in model.book.experts" c-main-book-expert="expert"></li>
			</ul>
		</div>
	</div>

	<div ng-if="model.book.photos | length">
		<div class="p-book-subtitle-box">
			<div class="p-book-subtitle">Фотогалерея</div>
		</div>
		<div class="p-book-photos" c-main-book-fotorama="">
			<img ng-repeat="photo in model.book.photos" ng-src="{{photo.url}}" data-caption="{{photo.title}}"/>
		</div>
	</div>

	<div ng-if="model.book.spreads | length">
		<div class="p-book-subtitle-box">
			<div class="p-book-subtitle">Развороты книги</div>
		</div>
		<div class="p-book-covers" c-main-book-fotorama="">
			<img ng-repeat="spread in model.book.spreads" ng-src="{{spread.url}}" data-caption="{{spread.title}}"/>
		</div>
	</div>

	<div ng-if="model.book.videos | length">
		<div class="p-book-subtitle-box">
			<div class="p-book-subtitle">Видео</div>
		</div>
		<div class="p-book-videos" c-main-book-fotorama="">
			<a href="{{video.url}}" ng-repeat="video in model.book.videos" data-caption="{{video.title}}"/>
		</div>
	</div>

</div>
