<div class="c-main-books">
	<div class="p-main-books-filter" tabs="model.source.params.type">
		<div class="p-filter-tab">
			<button class="p-tab-button" tab="all" ng-click="model.source.perform()">Все книги</button>
		</div>
		<div class="p-filter-tab">
			<button class="p-tab-button" tab="audiobook" ng-click="model.source.perform()">Аудиокниги</button>
		</div>
	</div>
	<div class="p-main-books-list">
		<div ng-repeat="book in model.books track by book.id" class="p-main-books-item">
			<div c-main-book-tile="book"></div>
		</div>
	</div>
</div>