<div class="c-auth-change" ng-controller="AuthChange as change">
	<div class="c-auth-form">
		<form
				class="p-form"
				novalidate="novalidate" autocomplete="on"
				form-ajax="/auth/password/change.ajax" form-plain=""
				form-ajax-query="{token: change.state.token}" form-ajax-success="change.success()" form-ajax-error="change.error($response)"
				>

			<div class="p-form-row" ng-if="change.hasRequestError">
				<div class="p-error-block">
					Ошибка смены пароля <br/>
					<small>
						Пожалуйста попробуйте снова, <br/>
						если ошибка повториться сообщите об этом администратору <br/>
						или по адресу <a href="mailto:support@mann-ivanov-ferber.ru">support@mann-ivanov-ferber.ru</a>
					</small>
				</div>
			</div>

			<div class="p-form-row">
				<div class="p-control-box">
					<input
							ng-value="change.state.user.email"
							placeholder="Email"
							class="p-control m-input-text" type="text"
							ng-disabled="true"
							/>
				</div>
			</div>

			<div class="p-form-row">
				<div
						class="p-control-box"
						ng-class="{'m-error': $form.password.$invalid && $form.$submitted}"
						>
					<input
							name="password" ng-model="password"
							placeholder="Пароль"
							class="p-control m-input-text" type="password"
							required=""
							/>

					<div class="p-control-tip m-error" ng-if="$form.password.$invalid && $form.$submitted">
						Пароль указан неправильно
					</div>

					<div class="p-control-state-box">
						<div class="p-control-state m-ok" ng-if="$form.password.$valid"></div>
					</div>
				</div>
			</div>

			<div class="p-form-row">
				<div
						class="p-control-box"
						ng-class="{'m-error': $form.passwordConfirm.$error.equals && $form.$submitted}"
						>
					<input
							name="passwordConfirm"
							ng-model="passwordConfirm"
							placeholder="Повторите пароль"
							class="p-control m-input-text" type="password"
							equals-validator="password"
							required=""
							/>

					<div class="p-control-tip m-error" ng-if="$form.$error.equals && $form.$submitted">
						Пароли не совпадают
					</div>

					<div class="p-control-state-box">
						<div class="p-control-state m-ok" ng-if="$form.passwordConfirm.$valid"></div>
					</div>
				</div>
			</div>

			<div class="p-form-row m-submit">
				<div class="p-control-box">
					<button type="submit" class="p-control m-submit-button" ng-disabled="($form.$submitting || $form.$invalid) && $form.$submitted">
						Сменить пароль
					</button>

					<div class="p-control-state-box">
						<div class="p-control-state m-loading" ng-if="$form.$submitting"></div>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>