<div class="c-auth-login" ng-controller="AuthLogin as login">
	<div class="c-auth-form">
		<form
				class="p-form"
				novalidate="novalidate" autocomplete="on"
				form-ajax="/auth/login.ajax" form-plain=""
				form-ajax-success="login.success()" form-ajax-request="login.transform($data)" form-ajax-error="login.error($response, $form)"
				>

			<div class="p-form-row" ng-if="login.hasRequestError">
				<div class="p-error-block">
					Ошибка авторизации <br/>
					<small>
						Пожалуйста попробуйте снова, <br/>
						если ошибка повториться сообщите об этом администратору <br/>
						или по адресу <a href="mailto:support@mann-ivanov-ferber.ru">support@mann-ivanov-ferber.ru</a>
					</small>
				</div>
			</div>

			<div class="p-form-row" ng-if="login.hasDenied">
				<div class="p-error-block">
					Электронная почта или пароль указаны неверно <br/>
					<small>
						Если вы не можете вспомнить пароль, то <br/>
						можете воспользоваться <a href="#/password/recover">востановлением пароля</a>
					</small>
				</div>
			</div>

			<div class="p-form-row">
				<div
						class="p-control-box"
						ng-class="{'m-error': $form.email.$invalid && $form.$submitted}"
						>
					<input
							name="email" ng-model="login.local.email"
							placeholder="Электронная почта"
							class="p-control m-input-text" type="email"
							required=""
							/>

					<div class="p-control-tip m-error" ng-if="$form.email.$invalid && $form.$submitted" ng-hide="$form.email.$error.not_found">
						Электронная почта указана неправильно
					</div>
					<div class="p-control-tip m-error" ng-if="$form.email.$invalid && $form.$submitted" ng-show="$form.email.$error.not_found">
						Пользователь с такой электронной почтой не найден
					</div>

					<div class="p-control-state-box">
						<div class="p-control-state m-ok" ng-if="$form.email.$valid && $form.$submitted"></div>
						<div class="p-control-state m-text m-align-middle" ng-if="!($form.email.$valid && $form.$submitted)">
							<div class="p-middle-text">
								Почта, которую вам создали на работе
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="p-form-row">
				<div
						class="p-control-box"
						ng-class="{'m-error': $form.password.$invalid && $form.$submitted}"
						>
					<input
							name="password" ng-model="password" placeholder="Пароль"
							class="p-control m-input-text" type="password"
							required=""
							/>

					<div class="p-control-tip m-error" ng-if="$form.password.$invalid && $form.$submitted" ng-hide="$form.password.$error.invalid">
						Пароль указан неправильно
					</div>
					<div class="p-control-tip m-error" ng-if="$form.password.$invalid && $form.$submitted" ng-show="$form.password.$error.invalid">
						У вас другой пароль
					</div>

					<div class="p-control-state-box">
						<div class="p-control-state m-ok" ng-if="$form.password.$valid"></div>
					</div>

				</div>
			</div>

			<div class="p-form-row m-submit">
				<div class="p-control-box">
					<button type="submit" class="p-control m-submit-button" ng-disabled="($form.$submitting || $form.$invalid) && $form.$submitted">
						Войти и читать книги
					</button>

					<div class="p-control-state-box">
						<div class="p-control-state m-loading" ng-if="$form.$submitting"></div>
					</div>

				</div>
			</div>

		</form>
	</div>
</div>