
<div class="c-auth-page" ng-controller="AuthPage as page">
	<header class="p-page-header">
		<div class="p-logo" ng-if="page.settings.logo">
			<img ng-src="{{page.settings.logo}}" />
		</div>
	</header>

	<div class="p-page-container">
		[% include "site/auth/auth_components/panel.twig" %]
	</div>

	<footer class="p-page-footer">
		<div class="c-footer-logo">
			<a href="/" class="p-link">Издательство «Манн, Иванов и Фербер»</a>
		</div>
	</footer>
</div>