<div class="c-auth-panel" ng-controller="AuthPanel as panel">

	<div ng-show="panel.isAuth()">
		<div tabs="panel.state.active">

			<div class="p-panel-tabs">
				<div class="p-panel-tab">
					<button class="p-tab-button" tab="login">Вход в электронную библиотеку</button>
				</div>
				<div class="p-panel-tab">
					<button class="p-tab-button" tab="registration">Я в первый раз</button>
				</div>
			</div>

			<div class="p-panel-tab-panes">
				<div class="p-panel-tab-pane" tab-pane-show="login">
					[% include "site/auth/auth_components/login.twig" %]
				</div>
				<div class="p-panel-tab-pane" tab-pane-show="registration">
					[% include "site/auth/auth_components/registration.twig" %]
				</div>
			</div>

		</div>
	</div>


	<div class="p-panel-pane-box" ng-show="panel.isActivate()">
		<div class="p-panel-pane-title">Активация аккаунта</div>
		<div class="p-panel-pane">
			[% include "site/auth/auth_components/activate.twig" %]
		</div>
	</div>
	<div class="p-panel-pane-box" ng-show="panel.isRecover()">
		<div class="p-panel-pane-title">Восстановление пароля</div>
		<div class="p-panel-pane">
			[% include "site/auth/auth_components/recover.twig" %]
		</div>
	</div>
	<div class="p-panel-pane-box" ng-show="panel.isChange()">
		<div class="p-panel-pane-title">Создание нового пароля</div>
		<div class="p-panel-pane">
			[% include "site/auth/auth_components/change.twig" %]
		</div>
	</div>

</div>