<div class="c-auth-registration" ng-controller="AuthRegistration as reg">
	<div class="c-auth-form">
		<form
				class="p-form"
				novalidate="novalidate" autocomplete="on"
				form-plain="" form-ajax="/auth/registration.ajax"
				form-ajax-success="reg.success($data)" form-ajax-request="reg.transform($data)" form-ajax-error="reg.error($response)"
				ng-hide="reg.hasFinishMessage"
				>

			<div class="p-form-row" ng-if="reg.hasRequestError">
				<div class="p-error-block">
					Ошибка регистрации <br/>
					<small>
						Пожалуйста попробуйте снова, <br/>
						если ошибка повториться сообщите об этом администратору <br/>
						или по адресу <a href="mailto:support@mann-ivanov-ferber.ru">support@mann-ivanov-ferber.ru</a>
					</small>
				</div>
			</div>

			<div class="p-form-row">
				<div
						class="p-control-box"
						ng-class="{'m-error': $form.email.$invalid && $form.$submitted}"
						>
					<input
							name="email" ng-model="reg.local.email"
							placeholder="Электронная почта"
							class="p-control m-input-text" type="email"
							required=""
							/>

					<div class="p-control-tip m-error" ng-if="$form.email.$invalid && $form.$submitted">
						Электронная почта указана неправильно
					</div>

					<div class="p-control-state-box">
						<div class="p-control-state m-loading" ng-if="$form.$submitting"></div>
						<div class="p-control-state m-ok" ng-if="$form.email.$valid && $form.$submitted"></div>
						<div class="p-control-state m-text m-align-middle" ng-if="!($form.email.$valid && $form.$submitted)">
							<div class="p-middle-text">
								Почта, которую вам создали на работе
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="p-form-row m-submit">
				<div class="p-control-box">
					<button type="submit" class="p-control m-submit-button" ng-disabled="($form.$submitting || $form.$invalid) && $form.$submitted">
						Войти и читать книги
					</button>
				</div>
			</div>

		</form>

		<div class="p-complete-message" ng-show="reg.hasFinishMessage">
			Вам на почту отправлено сообщение <br/>
			с ссылкой для активации аккаунта.
		</div>
	</div>
</div>