<div class="c-expander">
	<div ng-transclude="" class="p-expander-content"></div>
	<div class="p-expander-shadow"></div>
	<button class="p-expander-handler m-expand" ng-click="_expand()">Развернуть описание</button>
	<button class="p-expander-handler m-collapse" ng-click="_collapse()">Свернуть описание</button>
</div>