<div class="c-horizontal-scroller">
	<div class="p-scroller-box" scroller="" horizontal-snap="li">
		<div ng-transclude="" class="p-scroller-content" scroller-element=""></div>
		<div class="p-drag-blocker" scroller-drag-blocker=""></div>
		<div class="p-scroller-left" scroller-prev=""></div>
		<div class="p-scroller-right" scroller-next=""></div>
	</div>
</div>