[% extends "site/layout/regular.twig" %]

[% set htmltag = 'ng-app="mif.apps.auth"' %]

[% set pagetitle = 'Авторизация в электронной библиотеке «Манн, Иванов и Фербер»' %]

[% block pagehead %]
	<link rel="stylesheet" href="/site/styles/auth.css?[[ random() ]]" />
	<script type="text/javascript" src="/site/scripts/common.js?[[ random() ]]"></script>
	<script type="text/javascript" src="/site/scripts/auth.js?[[ random() ]]"></script>
[% endblock %]

[% block pagebody %]

	[% include "site/auth/auth_components/page.twig" %]

[% endblock %]