
.с-main-menu {

	.p-menu-item {
		position: relative;
		z-index: 100;
		display: table;
		width: 100%;
		border-bottom: 1px solid $border-color;
		border-right: 1px solid $border-color;
		box-sizing: border-box;

		&.active {
			border-right: 0;
			.p-menu-content {
				.p-text {
					color: $font-color-bold;
				}
				a {
					cursor: default;
				}
				.p-triangle {
					display: block;
				}
			}
		}
	}
	.p-menu-content {
		display: table-cell;
		height: 120px;
		vertical-align: middle;
		text-align: center;
		position: relative;

		text-transform: uppercase;
		font-family: $font-family-bold;
		font-size: $font-size-bold;
		color: $color-active;
		line-height: $line-height-bold;

		background: rgba(#FFF, .9);

		&:hover {
			color: $color-hover;
		}

		.p-text {
			display: inline-block;
		}
		a {
			display: block;
			text-decoration: none;
			text-indent: -999px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			cursor: pointer;
			outline: none;
			border: none;
			&:focus, &:active {
				outline: none;
			}
		}
		.p-triangle {
			display: none;
			position: absolute;
			top: -1px;
			right: -22px;
			bottom: -1px;
			z-index: 10;
		}
	}
}