.c-main-search-form {

	.p-search-query {
		position: relative;
		&.m-to-front {
			.p-search-input {
				z-index: 53;
			}
			.p-search-suggests {
				z-index: 52;
			}
		}
	}
	.p-search-body {
		position: relative;
	}
	.p-search-input {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;

		box-sizing: border-box;
		width: 100%;
		background: transparent;
		border: none;

		text-align: center;
		font-family: $font-family-bold;
		font-size: $font-size-bold;
		color: $font-color-bold;
		line-height: $line-height-bold;

		padding: (80px - $font-size-bold*$line-height-bold)/2;
		margin: 0;
		text-transform: uppercase;

		&::placeholder {
			color: #CCCCCC;
			opacity: 1;
			transition: opacity 0.3s ease;

		}
		&[placeholder] {
			text-overflow: ellipsis;
		}
		&:focus::placeholder {
			opacity: 0;
		}
		&:focus {
			outline: none;
		}
	}
	.p-search-input-box {
		border-bottom: 1px solid $border-color;
	}


	.p-search-suggests {
		position: absolute;
		left: 0;
		right: 0;
		background: rgba(#FFF, .9);
		z-index: 50;
	}
	.p-search-suggests-item {
		font-family: $font-family-base;

		@include clearfix();
		cursor: pointer;
		position: relative;
		background: rgba(#FFF, .9);
		&.m-active {
			background-color: #FAFAFA;
		}

		border-bottom: 1px solid $border-color;

		.p-item-img-box {
			float: left;
			width: 85px;
			height: 120px;
			overflow: hidden;
			img {
				width: (85px + 7px);
				height: (120px + 11px);
			}
		}
		.p-item-info-box {
			border-left: 1px solid $border-color;

			float: left;
			padding: 16px 17px;

			.ng-highlight {
				background: #FFF1B3;
			}
			font-weight: 300;
			font-size: 32px;
			line-height: 1.4;
			color: #000;
		}
		.p-item-title {
			a {
				display: block;
				font-weight: 300;
				font-size: 32px;
				line-height: 1.4;
				color: #4A90E2;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					color: #4A90E2;
					text-decoration: none;
				}
			}
		}
	}

}

