
.c-main-books {

	.p-main-books-filter {
		$font-size: 32px;
		$line-height: 1.15;
		$height: 80px;

		text-align: center;

		padding: ($height - $font-size*$line-height)/2 0;
		height: $height;
		box-sizing: border-box;

		.p-filter-tab {
			display: inline-block;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
		.p-tab-button {
			display: inline-block;
			box-sizing: border-box;
			background: transparent;
			margin: 0;
			padding: 0;
			border: none;
			outline: none;

			text-transform: uppercase;
			font-family: $font-family-bold;
			font-size: $font-size;
			color: $color-active;
			line-height: $line-height;
			cursor: pointer;

			&:active, &:focus {
				outline: none;
			}
			&:hover {
				color: $color-hover;
			}

			&.ng-selected {
				color: $font-color-bold;
				cursor: default;
			}
		}
	}


	.p-main-books-item {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 30px;
	}
}