
[c-main-page] {
	height: 100%;
}

.c-main-page {
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: (17px+20px+44px+1px);
	position: relative;

	.p-page-footer {
		text-align: center;
		border-top: 1px solid $border-color;
		padding: 17px 0 20px 0;
		height: 44px;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		z-index: 100;
		background: #FFF;
	}
	.p-page-copyright {
		text-align: left;
		border-top: 1px solid $border-color;
		padding: 22px 20% 29px 180px;
		@include font-base();
		@include rich-content();

		position: relative;
		z-index: 100;
		background: #FFF;
	}

	.p-page-container {
//		position: relative;
	}
	.p-page-logo-box {
		position: absolute;
		left: 0;
		top: 0;
		height: 120px;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		width: 170px;
		box-sizing: border-box;
		z-index: 100;

		a {
			display: block;
			text-decoration: none;
			text-indent: -999px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			cursor: pointer;
			outline: none;
			border: none;
		}
	}
	.p-page-menu {
		position: absolute;
		top: 120px;
		left: 0;
		width: 170px;
		z-index: 100;
	}

	.p-page-under-menu-box {
		position: absolute;
		top: (120px+(120px+1px)*3);
		left: 0;
		bottom: 0;
		width: 170px;
		border-right: 1px solid $border-color;
		background: rgba(#FFF, .9);
		box-sizing: border-box;
		z-index: 100;
	}

	.p-page-content-box {
		margin-left: 170px;
		min-height: (120px + (120px+1px)*3 + 120px);
	}

	.p-page-logo {
		position: absolute;
		background: transparent no-repeat center;
		background-size: contain;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&.m-empty {
			width: 50px;
			height: 50px;
			background: rgba(#000, .03);
			border-radius: 25px;
			left: 50%;
			top: 50%;
			right: auto;
			bottom: auto;
			margin: -25px 0 0 -25px;
		}
	}

}