
.c-main-book {
	$images-path: "#{$components-images-path}c-main-book/";

	.p-book-title-box, .p-book-subtitle-box {
		display: table;
		width: 100%;
		height: 80px;
		border-bottom: 1px solid $border-color;
	}

	.p-book-title, .p-book-subtitle {
		padding: 10px 0;

		display: table-cell;
		text-align: center;
		vertical-align: middle;

		box-sizing: border-box;
		border-collapse: collapse;
		margin: 0;

		text-transform: uppercase;
		font-family: $font-family-bold;
		font-size: $font-size-bold;
		color: $font-color-bold;
		line-height: $line-height-bold;
	}

	.p-book-tabs {
		$font-size: $font-size-bold;
		$line-height: 1.15;
		$height: 80px;

		text-align: center;

		padding: ($height - $font-size*$line-height)/2 0;
		height: $height;
		box-sizing: border-box;

		border-bottom: 1px solid $border-color;

		.p-tab {
			display: inline-block;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
		.p-tab-button {
			display: inline-block;
			box-sizing: border-box;
			background: transparent;
			margin: 0;
			padding: 0;
			border: none;
			outline: none;

			text-transform: uppercase;
			font-family: $font-family-bold;
			font-size: $font-size;
			color: $color-active;
			line-height: $line-height;
			cursor: pointer;

			&:active, &:focus {
				outline: none;
			}
			&:hover {
				color: $color-hover;
			}

			&.ng-selected {
				color: $font-color-bold;
				cursor: default;
			}
		}
	}

	.p-book-box {
		text-align: center;
		border-bottom: 1px solid $border-color;
		margin: 0 -1px;
	}
	.p-book {
		@include clearfix();

		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		width: (424px+1px + 215px*2);
		margin: 0 auto;


		.p-cover-box {
			float: left;
			width: 424px;
			border-right: 1px solid $border-color;
			position: relative;
		}
		.p-cover-wrapper {
			$width: 424px;
			$height: 600px;
			$crop-right: 35px;

			width: $width;
			height: $height;
			position: relative;
			overflow: hidden;

			img {
				display: block;
				width: ($width + $crop-right);
				position: relative;
				top: -1px;
				left: -2px;
			}
		}

		.p-badges {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			@include clearfix();
			.p-badge {
				margin: 1px;
				float: right;
				border-radius: 2px;
				background: rgba(#000, .4);
				font-family: $font-family-base;
				font-size: 12px;
				color: #FFF;
				line-height: 1;
				text-transform: uppercase;
				padding: 5px 20px;

				&.m-purple {
					background: rgba(143, 18, 253, .4);
				}
				&.m-green {
					background: rgba(65, 117, 5, .4);
				}

				display: none;
				&.ng-selected {
					display: block;
				}
			}
		}
		.p-downloads-box {
			position: absolute;
			left: 0;
			bottom: 0;
			background: rgba(#000, .4);

			.p-downloads-icon {
				width: 13px;
				height: 15px;
				background: transparent url("#{$images-path}icon-downloads.svg") no-repeat left top;
				background-size: contain;
				position: absolute;
				top: 4px;
				left: 4px;
			}

			font-family: $font-family-base;
			line-height: 1;
			color: #FFFFFF;

			padding: 3px 7px 2px 0;

			.p-downloads-count {
				display: inline-block;
				margin-left: 22px;
				font-size: 18px;
				vertical-align: 0;
				font-weight: 300;
			}
			.p-downloads-text {
				display: inline-block;
				font-size: $font-size-small;
				vertical-align: 1px;
				font-weight: 300;
			}
		}


		.p-sticker-column {
			float: left;
			width: 215px;
			border-right: 1px solid $border-color;
			box-sizing: border-box;
		}
		.p-sticker-box {
			display: table;
			width: 100%;
			height: 150px;
			border: 1px solid $border-color;
			margin: -1px;
		}
		.p-sticker {
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			box-sizing: border-box;
			border-collapse: collapse;
			margin: 0;
			padding: 0 30px;

			font-family: $font-family-base;
			font-size: 18px;
			color: #000;
			line-height: (52/36);

			&.m-pink {
				background-image: linear-gradient(-179deg, #FFE7D5 0%, #FFB1ED 99%);
			}
			&.m-purple {
				background-image: linear-gradient(-179deg, #E9DEFE 0%, #B7C4DB 99%);
			}
			&.m-white {
				background-image: linear-gradient(-179deg, #F6F9FA 0%, #E0EBF0 99%);
			}
			&.m-green {
				background-image: linear-gradient(-179deg, #DCF8BE 0%, #8BE5D6 99%);
			}
			&.m-yellow {
				background-image: linear-gradient(-179deg, #F1FA96 0%, #CDED29 99%);
			}
			&.m-orange {
				background-image: linear-gradient(-179deg, #FFEF93 0%, #FFC455 99%);
			}
			&.m-black {
				background-image: linear-gradient(-179deg, #9EABBA 0%, #6E7687 99%);
				color: #FFFFFF;
			}
			&.m-blue {
				background-image: linear-gradient(-179deg, #A7EDFF 0%, #A0DBFF 99%);
			}
		}
		.p-ref-column {
			float: left;
			width: 215px;
			box-sizing: border-box;
		}
		.p-ref-box {
			display: table;
			width: 100%;
			height: 150px;
			border: 1px solid $border-color;
			margin: -1px;
		}
		.p-ref {
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			box-sizing: border-box;
			border-collapse: collapse;
			margin: 0;
			padding: 0 20px;

			position: relative;
			a {
				$font-size: $font-size-bold;
				$line-height: 1.17;

				text-transform: uppercase;
				font-family: $font-family-bold;
				font-size: $font-size;
				line-height: $line-height;
				cursor: pointer;
				text-decoration: none;
				color: $color-active;

				&:active, &:focus {
					outline: none;
				}
				&:hover {
					color: $color-hover;
					text-decoration: none;
				}
			}
		}
	}

	.p-book-description-box {
		border-bottom: 1px solid $border-color;
		padding: 20px 80px 25px 130px;
	}
	.p-book-description {
		padding-bottom: 26px;
		@include font-base();
		@include rich-content();
	}

	.p-book-authors {
		border-bottom: 1px solid $border-color;
	}
	.p-book-author {
		width: 630px;
		margin: 20px 0 30px 45px;

		@include clearfix();

		.p-author-photo {
			width: 75px;
			height: 75px;
			border-radius: 37.5px;
			overflow: hidden;
			float: left;
			position: relative;
			img {
				position: absolute;
				top: -10%;
				left: 50%;
				width: 80px;
				margin-left: -40px;
			}
		}

		.p-author-content {
			padding-left: 110px;
			@include font-base();
			@include rich-content();
		}
		.p-author-name {
			font-weight: bold;
			margin-bottom: 5px;
		}
	}

	.p-book-quotes {
		border-bottom: 1px solid $border-color;
	}
	.p-book-quote {
		width: 630px;
		margin: 20px 0 30px 45px;

		@include font-base();
		@include rich-content();

		.p-quote-title {
			font-weight: bold;
			margin-bottom: 5px;
		}
	}

	.p-book-experts {
		border-bottom: 1px solid $border-color;
	}
	.p-book-expert {
		width: 300px;
		margin: 20px 0 30px 45px;

		@include font-base();
		@include rich-content();

		.p-quote-name {
			font-weight: bold;
			font-style: italic;
		}
		.p-quote-description {
			font-style: italic;
			margin-bottom: 12px;
		}
	}




	.p-book-photos {
		width: (424px+1px + 215px*2);
		margin: 0 auto;
	}

	.p-book-videos {
		width: (424px+1px + 215px*2);
		margin: 0 auto;
	}

	.p-book-expert-description {
		font-style: italic;
		margin-bottom: 10px;
	}


}
