
.c-main-page-greeting {

	@include clearfix();

	.p-greeting-from {
		float: left;
		width: 160px;
		box-sizing: border-box;
		padding: 26px 10px;
		text-align: center;

		.p-photo {
			display: inline-block;
			width: 75px;
			height: 75px;
			border-radius: 37.5px;
			overflow: hidden;
			position: relative;
			img {
				position: absolute;
				top: -10%;
				left: 50%;
				width: 80px;
				margin-left: -40px;
			}
		}

		.p-text {
			margin-top: 6px;
			font-family: $font-family-small;
			font-size: $font-size-small;
			color: $font-color-base;
			line-height: $line-height-small;
			text-align: center;
		}

		margin-bottom: 10px;
	}

	.p-greeting-text-box {
		padding-left: 170px;
		text-align: left;
	}
	.p-greeting-text {
		padding-bottom: 26px;
		@include font-base();
		@include rich-content();
	}

}