
.c-main-home {
	.p-greeting-box {
		text-align: center;
		border-bottom: 1px solid $border-color;
		padding: 17px 50px 17px 0;
	}

	.p-shelves-shelf {

		border-bottom: 1px solid $border-color;
		&:last-child {
			border-bottom: 0;
		}

		.p-shelf-title {
			$font-size: 32px;
			$line-height: 1.15;
			$height: 80px;

			text-align: center;

			padding: ($height - $font-size*$line-height)/2 0;
			height: $height;
			box-sizing: border-box;

			text-transform: uppercase;
			font-family: $font-family-bold;
			font-size: $font-size;
			color: $font-color-bold;
			line-height: $line-height;
		}
		.p-shelf-line {

		}
		.p-shelf-line-scroller {
			> .c-horizontal-scroller {
				box-sizing: content-box;
				margin-left: -170px;
				padding-left: 170px;
				.p-scroller-right, .p-scroller-left {
					background-position: center 30%;
				}
			}
		}

	}
}