
.c-main-book-tile {
	$images-path: "#{$components-images-path}c-main-book-tile/";
	$width: 170px;
	$height: 239px;
	$crop-right: 13px;
	$crop-bottom: 22px;

	width: $width;
	white-space: normal;

	.p-book-image {
		width: $width;
		height: $height;
		position: relative;
		overflow: hidden;
		img {
			display: block;
			width: ($width + $crop-right);
			position: absolute;
			right: -$crop-right;
			bottom: -$crop-bottom;
		}
		a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			cursor: pointer;
			overflow: hidden;
			text-indent: -999px;
		}
	}

	.p-downloads-box {
		position: absolute;
		left: 0;
		bottom: 0;
		background: rgba(#000, .4);

		.p-downloads-icon {
			width: 13px;
			height: 15px;
			background: transparent url("#{$images-path}icon-downloads.svg") no-repeat top left;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
		}

		font-family: $font-family-base;
		line-height: 1;
		color: #FFFFFF;

		padding: 3px 7px 2px 0;

		.p-downloads-count {
			display: inline-block;
			margin-left: 22px;
			font-size: 18px;
			vertical-align: 0;
			font-weight: 300;
		}
		.p-downloads-text {
			display: inline-block;
			font-size: $font-size-small;
			vertical-align: 1px;
			font-weight: 300;
		}
	}

	.p-book-info {
		font-family: $font-family-base;
		font-size: $font-size-small;
		color: #000;
		line-height: $line-height-small;
		text-align: center;
		padding: 10px;
	}


}