
@font-face {
	$font-path: "#{$fonts-path}gillsans-bold/";

	font-family: "GillSansBold";
	src: url("#{$font-path}gillsans-bold.eot");
	src: url("#{$font-path}gillsans-bold.eot") format("embedded-opentype"),
	url("#{$font-path}gillsans-bold.woff2") format("woff2"),
	url("#{$font-path}gillsans-bold.woff") format("woff"),
	url("#{$font-path}gillsans-bold.ttf") format("truetype"),
	url("#{$font-path}gillsans-bold.svg#GillSansBold") format("svg");
}
