@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin font-base {
	font-family: $font-family-base;
	color: $font-color-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

@mixin font-small {
	font-family: $font-family-small;
	color: $font-color-small;
	font-size: $font-size-small;
	line-height: $line-height-small;
}

@mixin child-a {
	a {
		text-decoration: none;
		color: $color-active;
		&:active, &:focus {
			outline: none;
		}
		&:hover {
			text-decoration: none;
			color: $color-hover;
		}
	}
}