

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-color-base: #262626;
$font-size-base: 21px;
$line-height-base: (72/42);

$font-family-bold: "GillSans-Bold", GillSansBold !default;
$font-size-bold: 24px;
$font-color-bold: #000;
$line-height-bold: 1.1;

$font-family-small: $font-family-base;
$font-color-small: $font-color-base;
$font-size-small: 13px;
$line-height-small: (36/26);

$color-error: #E51907;
$color-active: #4A90E2;
$color-hover: #E51907;

$border-color: #979797;

$components-images-path: "/site/images/components/";
$fonts-path: "/site/fonts/";