[% extends "site/layout/regular.twig" %]

[% set htmltag = 'ng-app="mif.apps.main"' %]

[% block pagehead %]
<meta http-equiv="X-UA-Compatible" content="IE=9"/>

<link rel="stylesheet" href="/site/styles/main.css?[[ random() ]]" />
<script type="text/javascript" src="/site/scripts/common.js?[[ random() ]]"></script>
<script type="text/javascript" src="/site/scripts/main.js?[[ random() ]]"></script>
[% endblock %]

[% block pagebody %]

<div c-main-page=""></div>

[% endblock %]