<div class="p-book-author">
	<div class="p-author-photo">
		<img ng-src="{{author.photo}}">
	</div>
	<div class="p-author-content">
		<div class="p-author-name" ng-bind="author.name"></div>
		<div class="p-author-info" ng-bind-html="author.info"></div>
	</div>

</div>
