<div class="p-book-expert">
	<div class="p-expert-name" ng-bind="expert.name"></div>
	<div class="p-expert-description" ng-bind="expert.description"></div>
	<div class="p-expert-text" ng-bind-html="expert.text"></div>
</div>
