<div class="c-main-book-tile">
	<div class="p-book-image">
		<img ng-src="{{book.cover.large}}" alt="{{book.title}}"/>
		<div class="p-downloads-box" ng-if="book.downloads|defined">
			<div class="p-downloads-icon"></div>
			<div class="p-downloads-count" ng-bind="book.downloads"></div>
			<div
					class="p-downloads-text"
					ng-if="isFirstBookInList"
					ng-pluralize="" count="book.downloads"
					when="{one: 'скачивание', few: 'скачивания', many: 'скачиваний', other: 'скачивания'}"
					></div>
		</div>
		<a ng-href="#/book/{{book.id}}" ng-bind="book.title"></a>
	</div>
	<div class="p-book-info">
		<div class="p-book-authors">
			<div class="p-book-author" ng-repeat="author in book.authors track by author.name" ng-bind="author.name"></div>
		</div>
		<div class="p-book-title" ng-bind="book.title"></div>
	</div>
</div>